
  <link rel="stylesheet" href="/css/prof.css">
  <div class="checkIn-page text-center">
    <div class="row">
    <% if (currentUser.email === 'boss@boss.com' && currentUser.locale === '324 University St, Seattle, WA 98101, USA') { %>
    <h1>Welcome <%= currentUser.firstname %>, Present @ General Assembly!</h1>
          <form id="edit-session" action="/auth/edit-session">
            <div class="form-group">
              <label>Set Session ID:</label>
              <input type="text" name="sessionid" class="form-control" placeholder="Session ID">
            </div>
            <input type="submit" value="Set Session ID" class="btn btn-danger">
          </form>
        </div>

    <% } else if (currentUser.locale === '324 University St, Seattle, WA 98101, USA') { %>
        <h1>
          <%= currentUser.firstname %> Present at General Assembly!</h1>
      <div class="row">
        <form id="check-session" action="/auth/check-session">
          <div class="form-group">
            <label>Session ID:</label>
            <input type="hidden" value="<%= currentUser %>">
            <input type="text" name="sessionidcheck" class="form-control" placeholder="Session ID">
          </div>
          <input type="submit" value="Check in" class="btn btn-danger">
        </form>
      </div>
        <% } else { %>
          <h1>
            <%= currentUser.firstname %>, at
              <%=currentUser.locale%>
          </h1>
              </div>
  <% } %>
  </div>
  <div class="row">
        <% if (currentUser.email != 'boss@boss.com' && currentUser.checkSession === null) { %>
          <div>
            <h2>are you here?</h2>
            <h2>check in with your session id !</h2>
          </div>
    <% } else if (currentUser.email != 'boss@boss.com' && currentUser.checkSession === currentUser.sessionid) { %>
      <div class="col-sm-4">
        <h2>Yay! youre here at General Assembly's Awesome Event!</h2>
        <div class="checkin-img">
          <img src="img/check.png" alt="green check">
        </div>
      </div>
    <% } 
    else if (currentUser.email != 'boss@boss.com' && currentUser.checkSession != currentUser.sessionid ){ %>
      <div class="col-sm-6">
        <h2>youre here but wrong event :(</h2>
              <div class="checkin-img">
                <img src="img/x.png" alt="green check">
              </div>
      </div>

  <% } %>


  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
